.note-container {
    padding: 10px;
    margin: 20px 20px;
    border: 1px dashed rgb(133, 133, 133);
    border-radius: 5px;
    margin-bottom: 50px;
  }
  
  .note-title {
    color: black;
  }
  
  .note-content {
    color: #555;
  }
  
  .note-date {
    color: rgb(128, 126, 126);
    font-size: 0.8rem;
  }
  
  .delete-button {
    background-color: #bb1104; /* Red */
    color: #e5e5e5e5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #870202; /* Darker red */
  }